<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ArmConnection" connectionString="metadata=res://*/DfEntities.Amms.csdl|res://*/DfEntities.Amms.ssdl|res://*/DfEntities.Amms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5KPIF96\ORNOK;initial catalog=ARM_CORE;User ID=sa;Password=oLdViCtOrY2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--Test-->
		<!--<add name="ConnectionStringOnly" connectionString="data source=192.168.250.49;initial catalog=AmmsOnlineQA;User ID=sa;Password=OnlineAmms;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=1000;Pooling=true;" />-->
		
	</connectionStrings>
	<appSettings>
		<add key="timeInterVal" value="3600" />
		<add key="armFilePath" value="D:\ArmFiles\" />
		<add key="armFileCompletePath" value="E:\ArmFiles\Done\" />
    <add key="dbName" value="ARM_CORE" />
  </appSettings>
</configuration>